<div class="container">

  <header><h1><%= @post.title %></h1></header>
  <p><%= @post.body %></p>
  
  <% if @post.tags != [] %> 
    <% @tags = tag_names(@post.tags) %>
    <p>Tags: <% @tags.each do |tag| %>
      <a href="/tag/<%= tag%>"> <%= tag %></a>
    <% end %></p>
  <% end %>

  <span id="nav"><%= erb :nav, layout => false %></span>
</div>
